<!-- ##### Footer Area Start ##### -->
<footer class="footer_area clearfix">
  <div class="container">
    <div class="row">
      <!-- Single Widget Area -->
      <div class="col-12 col-md-6">
        <div class="single_widget_area d-flex mb-30">
          <!-- Logo -->
          <div class="footer-logo mr-50">
            <a routerLink="#"
              ><img src="assets/img/core-img/logo2.png" alt=""
            /></a>
          </div>
          <!-- Footer Menu -->
          <div class="footer_menu">
            <ul>
              <li><a routerLink="shop">Tienda</a></li>
              <li><a routerLink="about">Nosotros</a></li>
              <li><a routerLink="contact">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Widget Area -->
      <!-- <div class="col-12 col-md-6">
        <div class="single_widget_area mb-30">
          <ul class="footer_widget_menu">
            <li><a routerLink="#">Order Status</a></li>
            <li><a routerLink="#">Payment Options</a></li>
            <li><a routerLink="#">Shipping and Delivery</a></li>
            <li><a routerLink="#">Guides</a></li>
            <li><a routerLink="#">Privacy Policy</a></li>
            <li><a routerLink="#">Terms of Use</a></li>
          </ul>
        </div>
      </div> -->
    </div>

    <div class="row align-items-end">
      <!-- Single Widget Area -->
      <div class="col-12 col-md-6">
        <div class="single_widget_area">
          <div class="footer_heading mb-30">
            <h6>Subscribirse</h6>
          </div>
          <div class="subscribtion_form">
            <form action="#" method="post">
              <input
                type="email"
                name="mail"
                class="mail"
                placeholder="Your email here"
              />
              <button type="submit" class="submit">
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
      <!-- Single Widget Area -->
      <div class="col-12 col-md-6">
        <div class="single_widget_area">
          <div class="footer_social_area">
            <a
              routerLink="#"
              data-toggle="tooltip"
              data-placement="top"
              title="Facebook"
              ><i class="fa fa-facebook" aria-hidden="true"></i
            ></a>
            <a
              routerLink="#"
              data-toggle="tooltip"
              data-placement="top"
              title="Instagram"
              ><i class="fa fa-instagram" aria-hidden="true"></i
            ></a>
            <a
              routerLink="#"
              data-toggle="tooltip"
              data-placement="top"
              title="Twitter"
              ><i class="fa fa-twitter" aria-hidden="true"></i
            ></a>
            <a
              routerLink="#"
              data-toggle="tooltip"
              data-placement="top"
              title="Pinterest"
              ><i class="fa fa-pinterest" aria-hidden="true"></i
            ></a>
            <a
              routerLink="#"
              data-toggle="tooltip"
              data-placement="top"
              title="Youtube"
              ><i class="fa fa-youtube-play" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved | Made with
          <i class="fa fa-heart-o" aria-hidden="true"></i> by
          <a routerLink="https://colorlib.com" target="_blank">Colorlib</a>,
          distributed by
          <a routerLink="https://themewagon.com/" target="_blank">ThemeWagon</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- ##### Footer Area End ##### -->
